*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    width: 50%;
    /*width: 60rem;*/
    text-align: center;
    background: rgb(223, 223, 216);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 4000;
}
.franja{
    width: 100rem;
    height: 100rem;
    background: pink;
    transform: rotate(-45deg);
    z-index: -10000;
}
nav{
    height: 5.25rem;
    z-index: 5000;
}
h1{
    font-size: 4rem;
    display: inline;
    text-align: center;
}
h1:nth-child(2){
    color: grey;
}
/*---ANIM COCHES---*/
iframe{
    height: 31.25rem;
    width: 56.25rem;
}
.cars{
    height: 36.25rem;
    width: 56.25rem;
    animation: cotxes 20s infinite;
    margin-top:2rem;
    text-align: center;
}

@keyframes cotxes {
	0% {
		background:url(/img/ani/back.png)
	}
	11% {
		background:url(/img/ani/bean.png)
	}
	22% {
		background:url(/img/ani/bond.png)
	}
    33% {
		background:url(/img/ani/break.png)
	}
    44% {
		background:url(/img/ani/ghost.png)
	}
    55% {
		background:url(/img/ani/pulp.png)
	}
    66% {
		background:url(/img/ani/driver.png)
	}
    77% {
		background:url(/img/ani/taxi.png)
	}
    88% {
		background:url(/img/ani/team.png)
	}
    99%{
        background:url(/img/ani/break.png)
    }
}

/*---CAJAS--*/
.caja{
    height: 15rem;
    float: left;
    margin: 0.625rem;
    background: white;
    opacity: 50%;
    text-align: center;
}
.caja:hover{
    opacity: 100%;
    animation: rotacio 0.3s ease;
}
@keyframes rotacio{
    0%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(360deg);
    }
}
.foto{
    height: 12.5rem;
    width: 18.75rem;
}
.titol{
    height: 2.5rem;
    width: 18.75rem;
    text-align: left;
    line-height: 2rem;
    font-size: 1rem;
}
footer{
    clear: left;
}
/*---RESPONSIVE---*/

@media screen and (max-width: 480px){
    h1{
        font-size: 2rem;
    }
}